.services {
  background-color: #000;

  .services-inner {
    max-width: 100%;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10vw;

    .left {
      width: 30%;
      padding-bottom: 7VW;

      h4 {
        font-family: "raleway", sans-serif;
        font-size: 8vh;
        color: #fff;
        position: sticky;
        top: 1%;
        padding-top: 2vw;
        text-transform: capitalize;

        p {
          text-transform: capitalize;
          color: #fff;
          font-size: 3vh;
          font-family: "raleway", sans-serif;
          padding-top: 7vw;

        }

      }


    }

    .right {
      width: 60%;
      padding-top: 8vw;

      .options {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #d3d3d3;
        align-items: center;
        padding: 2vw 0;
        overflow: hidden;
        position: relative;
        z-index: 9999;

        .over {
          height: 100%;
          width: 100%;
          background-color: #222;
          position: absolute;
          top: 0;
          transform: translateY(-100%);
          opacity: 0;
          transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
        }

        &:hover {
          border-top: 2px solid #dadada;

          .over {
            transform: translateY(0);
            opacity: .7;
          }
        }

        h5 {
          font-size: 2vh;
          color: #fff;
          text-transform: capitalize;
          font-family: "raleway", sans-serif;

          width: 240px;
        }

        p {

          font-size: 2.2vh;
          font-family: "raleway", sans-serif;
          color: #fff;
          text-transform: capitalize;
          width: 380px;
        }

        img {
          height: 5vw;
          width: 5vw;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }
}